In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
all_features = pd.read_csv("instacart/all_features.csv")
all_features

,user_id,product_id,days_cumsum,num_prod_bought,days_since_last_bought,average_days_period,orders_since_last_bought,average_orders_period,dow_usually_bought,hod_usually_bought,...,num_prod_user_total,ratio_dist_prod_reordered,number_user_order,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order
0,3,248.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
1,3,1005.0,107.0,1,NaN,NaN,NaN,NaN,3,16,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
2,3,1819.0,76.0,3,7.0,13.0,1.0,1.5,0,15,...,88,0.575758,12,0,16,133.0,12.090909,0.250000,7.333333,0.625
3,3,7503.0,30.0,1,NaN,NaN,NaN,NaN,3,16,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
4,3,8021.0,9.0,1,NaN,NaN,NaN,NaN,3,19,...,88,0.575758,12,0,16,133.0,12.090909,0.083333,7.333333,0.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,2,40.0,40.0,2.0,2.0,4,12,...,32,0.291667,3,2,12,40.0,20.000000,0.666667,10.666667,0.250
3231748,206205,44471.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231749,206205,46820.0,30.0,1,NaN,NaN,NaN,NaN,2,15,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231750,206205,49235.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231751,206205,49628.0,0.0,1,NaN,NaN,NaN,NaN,4,12,...,32,0.291667,3,2,12,40.0,20.000000,0.333333,10.666667,0.250

In [3]:
all_features.columns

Index(['user_id', 'product_id', 'days_cumsum', 'num_prod_bought',
       'days_since_last_bought', 'average_days_period',
       'orders_since_last_bought', 'average_orders_period',
       'dow_usually_bought', 'hod_usually_bought', 'department_id', 'aisle_id',
       'times_reordered', 'num_prod_bought_dep', 'num_order_bought_dep',
       'num_prod_bought_ais', 'num_order_bought_ais', 'ratio_prod_bought_dep',
       'ratio_prod_bought_ais', 'ratio_order_bought_dep',
       'ratio_order_bought_ais', 'num_dist_prod_reordered',
       'num_total_prod_reordered', 'num_distinct_prod_user_total',
       'num_prod_user_total', 'ratio_dist_prod_reordered', 'number_user_order',
       'dow_user_usually_bought', 'hod_user_usually_bought',
       'days_cumsum_user', 'average_daydiff_user', 'ratio_order_bought',
       'num_user_prod_per_order', 'reordered_prod_per_order'],
      dtype='object')

In [4]:
all_features = all_features[['user_id', 'product_id', 'days_cumsum', 'average_days_period', 'average_orders_period',
              'dow_usually_bought', 'hod_usually_bought', 'times_reordered', 'ratio_prod_bought_dep',
              'ratio_prod_bought_ais', 'ratio_order_bought_dep', 'ratio_order_bought_ais', 'ratio_dist_prod_reordered',
              'dow_user_usually_bought', 'hod_user_usually_bought', 'days_cumsum_user', 'average_daydiff_user', 
              'ratio_order_bought', 'num_user_prod_per_order', 'reordered_prod_per_order']]

In [5]:
all_features

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,ratio_order_bought_dep,ratio_order_bought_ais,ratio_dist_prod_reordered,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order
0,3,248.0,9.0,NaN,NaN,3,19,0,0.111111,0.333333,0.142857,0.333333,0.575758,0,16,133.0,12.090909,0.083333,7.333333,0.625
1,3,1005.0,107.0,NaN,NaN,3,16,0,0.333333,1.000000,0.333333,1.000000,0.575758,0,16,133.0,12.090909,0.083333,7.333333,0.625
2,3,1819.0,76.0,13.0,1.5,0,15,2,0.750000,0.750000,0.750000,0.750000,0.575758,0,16,133.0,12.090909,0.250000,7.333333,0.625
3,3,7503.0,30.0,NaN,NaN,3,16,0,0.111111,0.333333,0.142857,0.333333,0.575758,0,16,133.0,12.090909,0.083333,7.333333,0.625
4,3,8021.0,9.0,NaN,NaN,3,19,0,1.000000,1.000000,1.000000,1.000000,0.575758,0,16,133.0,12.090909,0.083333,7.333333,0.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,40.0,2.0,4,12,1,0.285714,1.000000,1.000000,1.000000,0.291667,2,12,40.0,20.000000,0.666667,10.666667,0.250
3231748,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,1.000000,1.000000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231749,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,0.333333,1.000000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231750,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,0.333333,0.500000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250
3231751,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,0.333333,0.500000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250

# Prepare training set

In [6]:
sample_order_train = pd.read_csv("instacart/sample_order_train_cumsum.csv")
sample_order_train

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,days_cumsum
0,2196797,5,train,5,0,11,6.0,15349.0,1.0,1.0,Organic Raw Agave Nectar,29.0,13.0,honeys syrups nectars,pantry,46.0
1,2196797,5,train,5,0,11,6.0,19057.0,2.0,0.0,Organic Large Extra Fancy Fuji Apple,24.0,4.0,fresh fruits,produce,46.0
2,2196797,5,train,5,0,11,6.0,16185.0,3.0,0.0,Sharp Cheddar Cheese,21.0,16.0,packaged cheese,dairy eggs,46.0
3,2196797,5,train,5,0,11,6.0,21413.0,4.0,1.0,Organic Soba,66.0,6.0,asian foods,international,46.0
4,2196797,5,train,5,0,11,6.0,20843.0,5.0,0.0,100% Pure Eucalyptus Essential Oil,101.0,17.0,air fresheners candles,household,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338899,1716008,206205,train,4,1,16,10.0,42495.0,15.0,0.0,Pink Lady (Cripps) Apple,24.0,4.0,fresh fruits,produce,50.0
338900,1716008,206205,train,4,1,16,10.0,10181.0,16.0,1.0,Classic Guacamole,67.0,20.0,fresh dips tapenades,deli,50.0
338901,1716008,206205,train,4,1,16,10.0,1158.0,17.0,0.0,Mango Chunks,116.0,1.0,frozen produce,frozen,50.0
338902,1716008,206205,train,4,1,16,10.0,29499.0,18.0,0.0,"Ghee, Original",76.0,6.0,indian foods,international,50.0
338903,1716008,206205,train,4,1,16,10.0,16174.0,19.0,0.0,Original Vegenaise Dressing & Sandwich Spread,72.0,13.0,condiments,pantry,50.0

In [7]:
train_order_products = sample_order_train[['user_id', 'product_id','reordered']]
train_order_products

        user_id  product_id  reordered
0             5     15349.0        1.0
1             5     19057.0        0.0
2             5     16185.0        0.0
3             5     21413.0        1.0
4             5     20843.0        0.0
...         ...         ...        ...
338899   206205     42495.0        0.0
338900   206205     10181.0        1.0
338901   206205      1158.0        0.0
338902   206205     29499.0        0.0
338903   206205     16174.0        0.0

[338904 rows x 3 columns]

In [8]:
train_order_details = (sample_order_train[['user_id', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'days_cumsum']]).drop_duplicates()
train_order_details

,user_id,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum
0,5,0,11,6.0,46.0
9,13,0,21,8.0,92.0
14,29,4,11,13.0,209.0
31,41,0,20,30.0,133.0
46,44,0,12,30.0,90.0
...,...,...,...,...,...
338849,206176,6,16,12.0,227.0
338855,206184,1,15,30.0,100.0
338856,206191,0,9,30.0,108.0
338879,206195,0,14,30.0,152.0
338885,206205,1,16,10.0,50.0

In [9]:
sample_order_test = pd.read_csv("instacart/sample_order_test_cumsum.csv")
sample_order_test

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,days_cumsum
0,2774568,3,test,13,5,15,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0
1,1411408,25,test,4,0,15,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
2,707453,35,test,10,4,15,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0
3,882556,39,test,8,6,13,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0
4,2827745,45,test,5,5,10,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18189,3151043,206173,test,4,0,13,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
18190,1836967,206182,test,11,0,10,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203.0
18191,2762353,206187,test,35,0,0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,348.0
18192,959487,206189,test,7,2,20,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0
18193,2728930,206202,test,23,2,17,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.0

In [10]:
test_user_id = sample_order_test['user_id'].to_list()

## Merge and label
- need to find positive from the training order first
- negative data come from existing products that is not bought this time

In [11]:
train_order_details.rename(columns={'days_cumsum': 'days_cumsum_order'}, inplace=True)
train_order_details

,user_id,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order
0,5,0,11,6.0,46.0
9,13,0,21,8.0,92.0
14,29,4,11,13.0,209.0
31,41,0,20,30.0,133.0
46,44,0,12,30.0,90.0
...,...,...,...,...,...
338849,206176,6,16,12.0,227.0
338855,206184,1,15,30.0,100.0
338856,206191,0,9,30.0,108.0
338879,206195,0,14,30.0,152.0
338885,206205,1,16,10.0,50.0

In [12]:
all_features = all_features[~all_features['user_id'].isin(test_user_id)]
all_features

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,ratio_order_bought_dep,ratio_order_bought_ais,ratio_dist_prod_reordered,dow_user_usually_bought,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order
33,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,1.000000,1.000000,0.347826,3,18,40.0,13.333333,0.250000,9.250000,0.378378
34,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,0.333333,1.000000,0.347826,3,18,40.0,13.333333,0.250000,9.250000,0.378378
35,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,1.000000,1.000000,0.347826,3,18,40.0,13.333333,0.250000,9.250000,0.378378
36,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,0.500000,0.666667,0.347826,3,18,40.0,13.333333,0.500000,9.250000,0.378378
37,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,1.000000,1.000000,0.347826,3,18,40.0,13.333333,1.000000,9.250000,0.378378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231747,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,1.000000,1.000000,0.291667,2,12,40.0,20.000000,0.666667,10.666667,0.250000
3231748,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,1.000000,1.000000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250000
3231749,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,0.333333,1.000000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250000
3231750,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,0.333333,0.500000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250000
3231751,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,0.333333,0.500000,0.291667,2,12,40.0,20.000000,0.333333,10.666667,0.250000

In [13]:
all_data = all_features.merge(train_order_details, how='left', on=['user_id'])
all_data

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,hod_user_usually_bought,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,18,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,18,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,18,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,18,40.0,13.333333,0.500000,9.250000,0.378378,0,11,6.0,46.0
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,18,40.0,13.333333,1.000000,9.250000,0.378378,0,11,6.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061089,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,...,12,40.0,20.000000,0.666667,10.666667,0.250000,1,16,10.0,50.0
2061090,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,...,12,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0
2061091,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,...,12,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0
2061092,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,...,12,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0
2061093,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,...,12,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0

In [14]:
all_data = all_data.merge(train_order_products, how='left', on=['user_id', 'product_id'])
all_data

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order,reordered
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0,NaN
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0,NaN
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0,NaN
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,40.0,13.333333,0.500000,9.250000,0.378378,0,11,6.0,46.0,NaN
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,40.0,13.333333,1.000000,9.250000,0.378378,0,11,6.0,46.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061089,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,...,40.0,20.000000,0.666667,10.666667,0.250000,1,16,10.0,50.0,NaN
2061090,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,NaN
2061091,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,NaN
2061092,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,NaN
2061093,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,NaN

In [15]:
all_data[all_data['user_id']==5]

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order,reordered
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,40.0,13.333333,0.50,9.25,0.378378,0,11,6.0,46.0,NaN
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,40.0,13.333333,1.00,9.25,0.378378,0,11,6.0,46.0,NaN
5,5,13870.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
6,5,13988.0,40.0,29.000000,2.0,0,16,1,0.105263,0.333333,...,40.0,13.333333,0.50,9.25,0.378378,0,11,6.0,46.0,NaN
7,5,15349.0,0.0,NaN,NaN,3,12,0,0.500000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,1.0
8,5,16168.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
9,5,18761.0,11.0,NaN,NaN,0,16,0,0.500000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
10,5,20754.0,21.0,NaN,NaN,3,18,0,0.500000,0.500000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
11,5,21413.0,40.0,40.000000,3.0,1,12,1,1.000000,1.000000,...,40.0,13.333333,0.50,9.25,0.378378,0,11,6.0,46.0,1.0
12,5,21616.0,11.0,NaN,NaN,0,16,0,0.052632,0.125000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,1.0
13,5,22475.0,0.0,NaN,NaN,3,12,0,0.052632,0.166667,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
14,5,24231.0,21.0,NaN,NaN,3,18,0,0.500000,0.500000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
15,5,24535.0,40.0,20.000000,1.5,0,12,2,0.375000,1.000000,...,40.0,13.333333,0.75,9.25,0.378378,0,11,6.0,46.0,NaN
16,5,26604.0,40.0,13.333333,1.0,3,18,3,0.210526,1.000000,...,40.0,13.333333,1.00,9.25,0.378378,0,11,6.0,46.0,NaN
17,5,27344.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
18,5,28289.0,0.0,NaN,NaN,3,12,0,0.052632,0.125000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
19,5,31717.0,0.0,NaN,NaN,3,12,0,0.052632,1.000000,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN
20,5,40706.0,40.0,19.000000,1.0,1,18,1,0.105263,0.250000,...,40.0,13.333333,0.50,9.25,0.378378,0,11,6.0,46.0,1.0
21,5,43693.0,40.0,20.000000,1.5,0,12,2,0.375000,1.000000,...,40.0,13.333333,0.75,9.25,0.378378,0,11,6.0,46.0,NaN
22,5,48775.0,0.0,NaN,NaN,3,12,0,0.052632,0.166667,...,40.0,13.333333,0.25,9.25,0.378378,0,11,6.0,46.0,NaN

In [16]:
all_data['reordered'].fillna(0, inplace=True)
all_data

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order,reordered
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0,0.0
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0,0.0
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,40.0,13.333333,0.250000,9.250000,0.378378,0,11,6.0,46.0,0.0
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,40.0,13.333333,0.500000,9.250000,0.378378,0,11,6.0,46.0,0.0
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,40.0,13.333333,1.000000,9.250000,0.378378,0,11,6.0,46.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061089,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,...,40.0,20.000000,0.666667,10.666667,0.250000,1,16,10.0,50.0,0.0
2061090,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,0.0
2061091,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,0.0
2061092,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,0.0
2061093,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,...,40.0,20.000000,0.333333,10.666667,0.250000,1,16,10.0,50.0,0.0

In [17]:
all_data['reordered'].value_counts()

0.0    1857650
1.0     203444
Name: reordered, dtype: int64

In [18]:
train_data = all_data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061094 entries, 0 to 2061093
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   user_id                    int64
 1   product_id                 float64
 2   days_cumsum                float64
 3   average_days_period        float64
 4   average_orders_period      float64
 5   dow_usually_bought         int64
 6   hod_usually_bought         int64
 7   times_reordered            int64
 8   ratio_prod_bought_dep      float64
 9   ratio_prod_bought_ais      float64
 10  ratio_order_bought_dep     float64
 11  ratio_order_bought_ais     float64
 12  ratio_dist_prod_reordered  float64
 13  dow_user_usually_bought    int64
 14  hod_user_usually_bought    int64
 15  days_cumsum_user           float64
 16  average_daydiff_user       float64
 17  ratio_order_bought         float64
 18  num_user_prod_per_order    float64
 19  reordered_prod_per_order   float64
 20  order_dow                  int64
 21  order_hour_of_day          int64
 22  days_since_prior_order     float64
 23  days_cumsum_order          float64
 24  reordered                  float64
dtypes: float64(17), int64(8)
memory usage: 408.8 MB

## NaN values summarize
- average_days_period, average_orders_period is null when user never reorder this product
- ratio_dist_prod_reordered, reordered_prod_per_order is null when user never reorder any product at all

In [19]:
train_data[train_data['reordered_prod_per_order'].isnull()]

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order,reordered
2798,286,365.0,16.0,NaN,NaN,3,7,0,0.500000,0.500000,...,19.0,9.50,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2799,286,4528.0,0.0,NaN,NaN,1,8,0,0.250000,1.000000,...,19.0,9.50,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2800,286,4615.0,0.0,NaN,NaN,1,8,0,0.250000,1.000000,...,19.0,9.50,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2801,286,6679.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.50,0.333333,8.666667,NaN,4,9,19.0,38.0,1.0
2802,286,10036.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.50,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059957,206097,36696.0,30.0,NaN,NaN,5,19,0,1.000000,1.000000,...,119.0,29.75,0.200000,5.200000,NaN,5,20,30.0,149.0,0.0
2059958,206097,37029.0,0.0,NaN,NaN,0,18,0,0.125000,0.333333,...,119.0,29.75,0.200000,5.200000,NaN,5,20,30.0,149.0,0.0
2059959,206097,39984.0,119.0,NaN,NaN,0,1,0,0.125000,1.000000,...,119.0,29.75,0.200000,5.200000,NaN,5,20,30.0,149.0,0.0
2059960,206097,45167.0,30.0,NaN,NaN,5,19,0,0.125000,0.500000,...,119.0,29.75,0.200000,5.200000,NaN,5,20,30.0,149.0,0.0
2059961,206097,47734.0,90.0,NaN,NaN,6,4,0,0.125000,0.166667,...,119.0,29.75,0.200000,5.200000,NaN,5,20,30.0,149.0,0.0

In [20]:
train_data[train_data['user_id']==286]

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_cumsum_user,average_daydiff_user,ratio_order_bought,num_user_prod_per_order,reordered_prod_per_order,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order,reordered
2798,286,365.0,16.0,NaN,NaN,3,7,0,0.500000,0.500000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2799,286,4528.0,0.0,NaN,NaN,1,8,0,0.250000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2800,286,4615.0,0.0,NaN,NaN,1,8,0,0.250000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2801,286,6679.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,1.0
2802,286,10036.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2803,286,12020.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2804,286,13385.0,19.0,NaN,NaN,6,14,0,0.500000,0.500000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2805,286,14381.0,16.0,NaN,NaN,3,7,0,0.500000,0.500000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2806,286,15374.0,19.0,NaN,NaN,6,14,0,1.000000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2807,286,17008.0,19.0,NaN,NaN,6,14,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2808,286,20520.0,19.0,NaN,NaN,6,14,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2809,286,25985.0,19.0,NaN,NaN,6,14,0,0.500000,0.500000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2810,286,30340.0,16.0,NaN,NaN,3,7,0,0.500000,0.500000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2811,286,32338.0,16.0,NaN,NaN,3,7,0,1.000000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2812,286,32819.0,0.0,NaN,NaN,1,8,0,0.250000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2813,286,34449.0,19.0,NaN,NaN,6,14,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2814,286,35591.0,19.0,NaN,NaN,6,14,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2815,286,36180.0,19.0,NaN,NaN,6,14,0,1.000000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2816,286,36316.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2817,286,39737.0,16.0,NaN,NaN,3,7,0,0.500000,0.500000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2818,286,40992.0,19.0,NaN,NaN,6,14,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2819,286,42240.0,0.0,NaN,NaN,1,8,0,1.000000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2820,286,42972.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2821,286,43642.0,0.0,NaN,NaN,1,8,0,0.250000,1.000000,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2822,286,47977.0,16.0,NaN,NaN,3,7,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0
2823,286,49319.0,19.0,NaN,NaN,6,14,0,0.333333,0.333333,...,19.0,9.5,0.333333,8.666667,NaN,4,9,19.0,38.0,0.0

# Create more features

In [21]:
train_data.columns

Index(['user_id', 'product_id', 'days_cumsum', 'average_days_period',
       'average_orders_period', 'dow_usually_bought', 'hod_usually_bought',
       'times_reordered', 'ratio_prod_bought_dep', 'ratio_prod_bought_ais',
       'ratio_order_bought_dep', 'ratio_order_bought_ais',
       'ratio_dist_prod_reordered', 'dow_user_usually_bought',
       'hod_user_usually_bought', 'days_cumsum_user', 'average_daydiff_user',
       'ratio_order_bought', 'num_user_prod_per_order',
       'reordered_prod_per_order', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'days_cumsum_order', 'reordered'],
      dtype='object')

## Merge product features

In [22]:
product_features = pd.read_csv("instacart/product_features.csv")
product_features

,product_id,mean_days_prod_bought_period,mean_dow_prod_usually_bought,mean_hod_prod_usually_bought
0,1.0,48.940129,1,10
1,2.0,87.266667,0,11
2,3.0,20.043679,0,8
3,4.0,48.205556,0,14
4,6.0,NaN,6,20
...,...,...,...,...
46832,49684.0,28.000000,5,8
46833,49685.0,NaN,2,14
46834,49686.0,35.819444,6,9
46835,49687.0,81.000000,1,12
46836,49688.0,104.750000,0,8

In [23]:
train_data = train_data.merge(product_features, how='left', on='product_id')

In [24]:
train_data.columns

Index(['user_id', 'product_id', 'days_cumsum', 'average_days_period',
       'average_orders_period', 'dow_usually_bought', 'hod_usually_bought',
       'times_reordered', 'ratio_prod_bought_dep', 'ratio_prod_bought_ais',
       'ratio_order_bought_dep', 'ratio_order_bought_ais',
       'ratio_dist_prod_reordered', 'dow_user_usually_bought',
       'hod_user_usually_bought', 'days_cumsum_user', 'average_daydiff_user',
       'ratio_order_bought', 'num_user_prod_per_order',
       'reordered_prod_per_order', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'days_cumsum_order', 'reordered',
       'mean_days_prod_bought_period', 'mean_dow_prod_usually_bought',
       'mean_hod_prod_usually_bought'],
      dtype='object')

## Find time different

In [25]:
train_data['order_dow'].unique()

array([0, 4, 6, 5, 2, 3, 1], dtype=int64)

In [26]:
def diff_dow(a,b):
    if(abs(a-b)<=3):
        return abs(a-b)
    return 7-abs(a-b)

In [27]:
diff_dow(1,6)

2

In [28]:
train_data['dow_prod_usually_diff'] = train_data.apply(lambda x: diff_dow(x.dow_usually_bought, x.order_dow), axis=1)
train_data['dow_user_usually_diff'] = train_data.apply(lambda x: diff_dow(x.dow_user_usually_bought, x.order_dow), axis=1)
train_data

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,order_dow,order_hour_of_day,days_since_prior_order,days_cumsum_order,reordered,mean_days_prod_bought_period,mean_dow_prod_usually_bought,mean_hod_prod_usually_bought,dow_prod_usually_diff,dow_user_usually_diff
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,0,11,6.0,46.0,0.0,49.857478,0,10,1.0,3.0
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,0,11,6.0,46.0,0.0,20.883036,1,9,1.0,3.0
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,0,11,6.0,46.0,0.0,38.901389,1,9,0.0,3.0
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,0,11,6.0,46.0,0.0,45.284354,0,11,1.0,3.0
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,0,11,6.0,46.0,0.0,31.846156,0,10,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061089,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,...,1,16,10.0,50.0,0.0,34.347931,0,10,3.0,1.0
2061090,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,...,1,16,10.0,50.0,0.0,49.211014,0,15,1.0,1.0
2061091,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,...,1,16,10.0,50.0,0.0,33.210806,0,10,1.0,1.0
2061092,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,...,1,16,10.0,50.0,0.0,36.073829,0,9,3.0,1.0
2061093,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,...,1,16,10.0,50.0,0.0,28.204359,0,10,3.0,1.0

In [29]:
train_data['hod_prod_usually_diff'] = (train_data['hod_usually_bought'] - train_data['order_hour_of_day']).abs()
train_data['hod_user_usually_diff'] = (train_data['hod_user_usually_bought'] - train_data['order_hour_of_day']).abs()
train_data

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_since_prior_order,days_cumsum_order,reordered,mean_days_prod_bought_period,mean_dow_prod_usually_bought,mean_hod_prod_usually_bought,dow_prod_usually_diff,dow_user_usually_diff,hod_prod_usually_diff,hod_user_usually_diff
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,6.0,46.0,0.0,49.857478,0,10,1.0,3.0,7,7
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,6.0,46.0,0.0,20.883036,1,9,1.0,3.0,7,7
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,6.0,46.0,0.0,38.901389,1,9,0.0,3.0,5,7
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,6.0,46.0,0.0,45.284354,0,11,1.0,3.0,1,7
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,6.0,46.0,0.0,31.846156,0,10,3.0,3.0,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061089,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,...,10.0,50.0,0.0,34.347931,0,10,3.0,1.0,4,4
2061090,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,...,10.0,50.0,0.0,49.211014,0,15,1.0,1.0,1,4
2061091,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,...,10.0,50.0,0.0,33.210806,0,10,1.0,1.0,1,4
2061092,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,...,10.0,50.0,0.0,36.073829,0,9,3.0,1.0,4,4
2061093,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,...,10.0,50.0,0.0,28.204359,0,10,3.0,1.0,4,4

In [30]:
train_data['days_since_prod_bought'] = train_data['days_cumsum_order'] - train_data['days_cumsum']
train_data

,user_id,product_id,days_cumsum,average_days_period,average_orders_period,dow_usually_bought,hod_usually_bought,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,...,days_cumsum_order,reordered,mean_days_prod_bought_period,mean_dow_prod_usually_bought,mean_hod_prod_usually_bought,dow_prod_usually_diff,dow_user_usually_diff,hod_prod_usually_diff,hod_user_usually_diff,days_since_prod_bought
0,5,3376.0,40.0,NaN,NaN,1,18,0,1.000000,1.000000,...,46.0,0.0,49.857478,0,10,1.0,3.0,7,7,6.0
1,5,5999.0,40.0,NaN,NaN,1,18,0,0.125000,1.000000,...,46.0,0.0,20.883036,1,9,1.0,3.0,7,7,6.0
2,5,6808.0,11.0,NaN,NaN,0,16,0,1.000000,1.000000,...,46.0,0.0,38.901389,1,9,0.0,3.0,5,7,35.0
3,5,8518.0,40.0,40.000000,3.0,1,12,1,0.105263,0.333333,...,46.0,0.0,45.284354,0,11,1.0,3.0,1,7,6.0
4,5,11777.0,40.0,13.333333,1.0,3,18,3,0.210526,0.500000,...,46.0,0.0,31.846156,0,10,3.0,3.0,7,7,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061089,206205,43352.0,40.0,40.000000,2.0,4,12,1,0.285714,1.000000,...,50.0,0.0,34.347931,0,10,3.0,1.0,4,4,10.0
2061090,206205,44471.0,30.0,NaN,NaN,2,15,0,1.000000,1.000000,...,50.0,0.0,49.211014,0,15,1.0,1.0,1,4,20.0
2061091,206205,46820.0,30.0,NaN,NaN,2,15,0,0.071429,1.000000,...,50.0,0.0,33.210806,0,10,1.0,1.0,1,4,20.0
2061092,206205,49235.0,0.0,NaN,NaN,4,12,0,0.071429,0.500000,...,50.0,0.0,36.073829,0,9,3.0,1.0,4,4,50.0
2061093,206205,49628.0,0.0,NaN,NaN,4,12,0,0.071429,0.200000,...,50.0,0.0,28.204359,0,10,3.0,1.0,4,4,50.0

In [31]:
train_data['prod_bought_period_diff_mean'] = (train_data['days_since_prod_bought'] - train_data['mean_days_prod_bought_period']).abs()
train_data['prod_bought_period_diff_user'] = (train_data['days_since_prod_bought'] - train_data['average_days_period']).abs()
train_data['dow_prod_usually_diff_mean'] = (train_data['order_dow'] - train_data['mean_dow_prod_usually_bought']).abs()
train_data['hod_prod_usually_diff_mean'] = (train_data['order_hour_of_day'] - train_data['mean_hod_prod_usually_bought']).abs()

In [32]:
train_data['average_day_period_diff'] = (train_data['average_daydiff_user'] - train_data['days_since_prior_order']).abs()

In [33]:
train_data.columns

Index(['user_id', 'product_id', 'days_cumsum', 'average_days_period',
       'average_orders_period', 'dow_usually_bought', 'hod_usually_bought',
       'times_reordered', 'ratio_prod_bought_dep', 'ratio_prod_bought_ais',
       'ratio_order_bought_dep', 'ratio_order_bought_ais',
       'ratio_dist_prod_reordered', 'dow_user_usually_bought',
       'hod_user_usually_bought', 'days_cumsum_user', 'average_daydiff_user',
       'ratio_order_bought', 'num_user_prod_per_order',
       'reordered_prod_per_order', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'days_cumsum_order', 'reordered',
       'mean_days_prod_bought_period', 'mean_dow_prod_usually_bought',
       'mean_hod_prod_usually_bought', 'dow_prod_usually_diff',
       'dow_user_usually_diff', 'hod_prod_usually_diff',
       'hod_user_usually_diff', 'days_since_prod_bought',
       'prod_bought_period_diff_mean', 'prod_bought_period_diff_user',
       'dow_prod_usually_diff_mean', 'hod_prod_usually_diff_mean',
       'average_day_period_diff'],
      dtype='object')

In [34]:
train_data = train_data[['user_id', 'product_id', 'times_reordered', 'ratio_prod_bought_dep', 'ratio_prod_bought_ais',
               'ratio_order_bought_dep', 'ratio_order_bought_ais', 'ratio_dist_prod_reordered',
               'ratio_order_bought', 'num_user_prod_per_order',
               'reordered_prod_per_order', 'dow_prod_usually_diff', 
               'dow_user_usually_diff', 'hod_prod_usually_diff', 'hod_user_usually_diff',
               'prod_bought_period_diff_mean', 'prod_bought_period_diff_user',
               'dow_prod_usually_diff_mean', 'hod_prod_usually_diff_mean',
               'average_day_period_diff', 'reordered']]

# Summarize

This dataset is trying to capture the behaviour of each pair (user, product_id).<br>
It also consider other people's behaviour on the same product.<br>
When we use on test set, we will predict on each (user, product_id) of all the products the user bought before.

- 'user_id', 
- 'product_id', 
- 'times_reordered' = how many time user reorder this product
- 'ratio_prod_bought_dep' = ratio of this product bought / total product in the same department
- 'ratio_prod_bought_ais',
- 'ratio_order_bought_dep' = ratio of orders contain this product / total orders contain products in the same department 
- 'ratio_order_bought_ais', 
- 'ratio_dist_prod_reordered' = ratio of distinct products that have been reordered
- 'ratio_order_bought' = number of orders contain this item / total orders 
- 'num_user_prod_per_order' = average number of products in an order of this user
- 'reordered_prod_per_order' = proportion of reordered product in an order of this user 
- 'dow_prod_usually_diff' = different in dow that this user usually buy this product 
- 'dow_user_usually_diff' = different in dow that this user usually make an order
- 'hod_prod_usually_diff' = different in hod that this user usually by this product 
- 'hod_user_usually_diff' = different in hod that this user usually make an order
- 'prod_bought_period_diff_mean' = different in period that this user usually buy this product compared to other people
- 'prod_bought_period_diff_user' = different in period that this user usually buy this product compared to himself
- 'dow_prod_usually_diff_mean' = different in dow that this user buy this product compared to other people
- 'hod_prod_usually_diff_mean' = different in hod that this user buy this product compared to other people
- 'average_day_period_diff' = different in period that this user usually make an order
- 'reordered' = label

In [35]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061094 entries, 0 to 2061093
Data columns (total 21 columns):
 #   Column                        Dtype
---  ------                        -----
 0   user_id                       int64
 1   product_id                    float64
 2   times_reordered               int64
 3   ratio_prod_bought_dep         float64
 4   ratio_prod_bought_ais         float64
 5   ratio_order_bought_dep        float64
 6   ratio_order_bought_ais        float64
 7   ratio_dist_prod_reordered     float64
 8   ratio_order_bought            float64
 9   num_user_prod_per_order       float64
 10  reordered_prod_per_order      float64
 11  dow_prod_usually_diff         float64
 12  dow_user_usually_diff         float64
 13  hod_prod_usually_diff         int64
 14  hod_user_usually_diff         int64
 15  prod_bought_period_diff_mean  float64
 16  prod_bought_period_diff_user  float64
 17  dow_prod_usually_diff_mean    int64
 18  hod_prod_usually_diff_mean    int64
 19  average_day_period_diff       float64
 20  reordered                     float64
dtypes: float64(15), int64(6)
memory usage: 345.9 MB

## NaN values
- ratio_dist_prod_reordered = NaN when user never reorder any product
- reordered_prod_per_order = NaN when user never reorder any product
- prod_bought_period_diff_mean = NaN when no other users never reorder this product
- prod_bought_period_diff_user = NaN when user never reorder this product

In [36]:
train_data['ratio_dist_prod_reordered']

0          0.347826
1          0.347826
2          0.347826
3          0.347826
4          0.347826
             ...
2061089    0.291667
2061090    0.291667
2061091    0.291667
2061092    0.291667
2061093    0.291667
Name: ratio_dist_prod_reordered, Length: 2061094, dtype: float64

In [37]:
train_data['reordered_prod_per_order']

0          0.378378
1          0.378378
2          0.378378
3          0.378378
4          0.378378
             ...
2061089    0.250000
2061090    0.250000
2061091    0.250000
2061092    0.250000
2061093    0.250000
Name: reordered_prod_per_order, Length: 2061094, dtype: float64

In [38]:
train_data[train_data['prod_bought_period_diff_mean'].isna()]

,user_id,product_id,times_reordered,ratio_prod_bought_dep,ratio_prod_bought_ais,ratio_order_bought_dep,ratio_order_bought_ais,ratio_dist_prod_reordered,ratio_order_bought,num_user_prod_per_order,...,dow_prod_usually_diff,dow_user_usually_diff,hod_prod_usually_diff,hod_user_usually_diff,prod_bought_period_diff_mean,prod_bought_period_diff_user,dow_prod_usually_diff_mean,hod_prod_usually_diff_mean,average_day_period_diff,reordered
47,13,41926.0,0,0.200000,0.200000,0.200000,0.200000,0.448276,0.083333,6.750000,...,1.0,1.0,8,9,NaN,NaN,0,8,0.363636,0.0
79,29,22259.0,0,0.035714,1.000000,0.055556,1.000000,0.507463,0.055556,12.500000,...,1.0,1.0,3,0,NaN,NaN,1,3,1.470588,0.0
99,29,38053.0,0,0.016129,0.030303,0.055556,0.055556,0.507463,0.055556,12.500000,...,1.0,1.0,0,0,NaN,NaN,1,0,1.470588,0.0
185,44,33663.0,0,0.111111,0.142857,0.333333,0.333333,0.200000,0.333333,12.333333,...,1.0,0.0,3,3,NaN,NaN,1,3,0.000000,0.0
529,70,48787.0,0,1.000000,1.000000,1.000000,1.000000,0.338028,0.076923,8.000000,...,3.0,1.0,5,6,NaN,NaN,3,5,10.916667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060756,206155,4433.0,0,0.083333,0.500000,0.166667,0.500000,0.306122,0.071429,11.500000,...,2.0,0.0,3,3,NaN,NaN,2,1,10.615385,0.0
2060758,206155,4926.0,0,0.142857,0.142857,0.500000,0.500000,0.306122,0.071429,11.500000,...,3.0,0.0,2,3,NaN,NaN,3,3,10.615385,0.0
2060822,206155,42349.0,0,0.125000,1.000000,0.142857,1.000000,0.306122,0.071429,11.500000,...,2.0,0.0,3,3,NaN,NaN,2,4,10.615385,0.0
2060909,206176,18832.0,0,0.166667,1.000000,0.333333,1.000000,0.425532,0.071429,7.928571,...,2.0,1.0,5,5,NaN,NaN,5,3,4.538462,0.0
2060934,206176,40525.0,0,0.166667,1.000000,0.333333,1.000000,0.425532,0.071429,7.928571,...,2.0,1.0,5,5,NaN,NaN,6,2,4.538462,0.0

In [39]:
train_data.to_csv("instacart/train_data.csv", index=False)